.title-container {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.title-frame {
  position: absolute;
  width: 30vw;
  margin-top: 155px;
  padding: 1rem 2rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.4);
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
  z-index: 2;
}

.title-frame .title {
  font-size: 5rem;
  color: #eba63f;
}

.title-frame .subtitle {
  font-size: 1.5rem;
  color: #eba63f;
}

@media (min-width: 1023px) and (max-width: 1920px) and (max-height: 1400px) {
  .title-frame {
    width: auto;
  }
  .title-frame .title {
    font-size: 6rem;
  }
}

@media (min-width: 340px) and (max-width: 415px) {
  .title-frame {
    width: auto;
    margin-top: 0px;
  }
  .title-frame .title {
    font-size: 2rem;
  }

  .title-frame .subtitle {
    font-size: 1rem;
    color: #eba63f;
  }
}

@media (min-width: 416px) and (max-width: 830px) {
  .title-frame {
    width: auto;
    margin-top: 0px;
  }
  .title-frame .title {
    font-size: 3rem;
  }

  .title-frame .subtitle {
    font-size: 1.2rem;
    color: #eba63f;
  }
}

@media (min-width: 840px) and (max-width: 1022px) {
  .title-frame {
    width: auto;
    margin-top: 100px;
  }
  .title-frame .title {
    font-size: 5.5rem;
  }
}
