.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  animation: fadeInUp 0.8s ease-out;
}

.resume-title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 700;
  background: #eba63f;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 2rem;
}

.actual-resume {
  width: 100%;
  max-width: 800px;
}

.button-container {
  margin-top: 20px;
}
